<div style="margin-top: 100px; padding: 0 7%;" ng-init="vm.init()" class="container">

    <div ng-if="vm.errordb" class="container">
        <alert-P msg="'database connection failed!'" tipo="'erro'"></alert-P>
        <alert-P></alert-P>
    </div>
    <div class="row">
        <div class="w-auto h-auto d-flex align-items-center ">

            <form class="w-auto h-100">
                <input type="search" ng-model="vm.filterSearch" class="search w-100 h-100 ph" placeholder="EX: 345.." />
            </form>
        </div>
    </div>

    <div class="row">
        <main id="col-p" ng-if="vm.jinxs" ng-endif="vm.jinxs" class="col">
            <section id="ul-p" dir="ltr" data-listing-price="{{jinx.id}}" ng-repeat="jinx in vm.jinxs | filter : vm.filterSearch |  orderBy:'id': true" class="d-block post">
                <div class="w-100 ph h-auto postgre">
                    <div id="infos" class="w-100 h-auto d-flex align-items-center justify-content-between font-weight-light">
                        <h6 class="d-inline-block text-truncate" style="max-width: 150px;">{{jinx.nome}}</h6>
                        <div class="w-auto d-flex align-items-center">
                            <!-- <div class="edit ph" ng-click="vm.edit(jinx.id)">
                          <i class="bi bi-pen"></i>
                      </div> -->
                            <button class="copy h-fit-content">
                          <span>@{{jinx.id}}</span>
                          <span>{{jinx.date}}</span>
                      </button>
                        </div>

                    </div>
                    <div class="w-100 p-2 h-auto">
                        <span id="content-post" style="word-break: break-all;">{{jinx.post}}
                    </span>
                    </div>
                </div>
            </section>
        </main>
        <div class="col" id="col">
            <div class="w-50 position-fixed h-auto" style="display: block;     text-align: -webkit-center;" id="scoop">
                <img src="../assets/masks.jpg" class="gif" />
                <div class="talk align-self-center w-auto p-2 hello">
                    <h6 id="hello"></h6>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(function() {
        $('[data-toggle="tooltip"]').tooltip()
    });
    var div = document.getElementById('hello');
    var texto = 'enjoy my child, because there is a storm coming';

    function escrever(str, el) {
        var char = str.split('').reverse();
        var typer = setInterval(function() {
            if (!char.length) return clearInterval(typer);
            var next = char.pop();
            el.innerHTML += next;
        }, 80);
    }
    escrever(texto, div);

    const scrollContainer = document.querySelector("main");

    scrollContainer.addEventListener("wheel", (evt) => {
        evt.preventDefault();
        scrollContainer.scrollLeft += evt.deltaY;
    });
</script>