<script>
    $("#two").hide();
    $("#twom").hide();
    $(".switch").click(function() {
        if ($(this).is(":checked")) {
            $("#one").hide();
            $("#two").show();
        } else {
            $("#one").show();
            $("#two").hide();
        }
    });
    $(".m").click(function() {
        if ($(this).is(":checked")) {
            $("#onem").hide();
            $("#twom").show();
        } else {
            $("#onem").show();
            $("#twom").hide();
        }
    });
</script>
<div>
    <div class="amo">
        <div class="models">
            <div class="d-flex">
                <div class="w-100">
                    <div class="screen">
                        <!-- header model -->
                        <div class="screen-header">
                            <div class="screen-header-left">
                                <div class="screen-header-button w3-pink"></div>
                                <div class="screen-header-button maximize"></div>
                                <div class="screen-header-button minimize"></div>
                            </div>
                            <div class="screen-header-right">
                                <div class="screen-header-ellipsis"></div>
                                <div class="screen-header-ellipsis"></div>
                                <div class="screen-header-ellipsis"></div>
                            </div>
                        </div>
                        <div class="screen-body">
                            <!-- form model -->
                            <form class="screen-body-item">
                                <div class="app-form">
                                    <div class="app-form-group">
                                        <input class="app-form-control" id="username" required ng-model="vm.jinx.nome" placeholder="Fictional name: Mark, Elon, Kim john..." />
                                    </div>
                                </div>
                                <!-- msg form -->
                                <div id="sbit" class="screen-body-item left">
                                    <div class="app-title">
                                        <textarea required ng-model="vm.jinx.post" placeholder="frustration?, affliction?...something facekoob won't let you say, tell us!" class="txtarea"></textarea>
                                    </div>

                                    <div class="app-contact">enter your post above</div>

                                    <div id="sbi" class="app-form-group pt-4">
                                        <input id="s2" type="checkbox" class="switch" />
                                        <label for="s2" id="one" class="align-items-center ">
                                          <img src="../assets/mask.png"/>
                                            <span class="">One Mask</span>
                                        </label>

                                        <label for="s2" id="two" class="align-items-center">
                                          <img src="../assets/theater.png"/>
                                          <span class="">Two Mask</span>
                                        </label>
                                    </div>
                                    <div id="sbi2" style="text-align-last: center;" class="app-form-group buttons">
                                        <a href="/" class="app-form-button text-light" style="background: var(--pink);">CANCEL</a>
                                        <button class="app-form-button" id="send" ng-click="vm.posting()">{{vm.butao}}</button>
                                    </div>
                                    <!-- form model mob -->
                                    <div id="formmm" style="display: none;" class="app-form-group">
                                        <p style="left:0; font-size: 10px; font-weight: 200;">choose this detail <span style="color: pink">(optional)</span></p>
                                        <input id="s2m" type="checkbox" class="switch m" />
                                        <label for="s2m" id="onem" class="align-items-center">
                                          <img src="../assets/mask.png"/>
                                          <span class="">One Mask</span>
                                        </label>

                                        <label for="s2m" id="twom" class="align-items-center">
                                          <img src="../assets/theater.png"/>
                                          <span class="">Two Mask</span>
                                        </label>
                                    </div>
                                    <div id="formmm2" style="display: none; text-align-last: center;" class="app-form-group buttons">
                                        <a href="/" class="app-form-button" style="background: #ea1d6f !important; color: white;">CANCEL</a>
                                        <button class="app-form-button" id="sendm" ng-click="vm.posting()">{{vm.butao}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>